.advantages__headline {
  color: $link-color;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  @include reset;
  margin: 0;
}

.advantages__item {
  position: relative;
  padding-left: 70px;
}

.advantages__description {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 220px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.advantages__item--sheet {
  position: relative;
}

.advantages__item--sheet::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-size: 50px;
  background-position: center;
}

.advantages__item--powder {
  position: relative;
}

.advantages__item--powder::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-size: 50px;
  background-position: center;
}

.advantages__item--eating {
  position: relative;
}

.advantages__item--eating::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-size: 50px;
  background-position: center;
}

.advantages__item--time {
  position: relative;
}

.advantages__item--time::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-size: 50px;
  background-position: center;
}
