.benefits__title {
  position: relative;
  margin-top: 29px;
  margin-bottom: 34px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  //width: 100%;
}

.benefits__title::after {
  position: absolute;
  content: "";
  //display: inline-block;
  box-sizing: border-box;
  width: 100%;
  top: 14px;
  right: 53px;
  height: 3px;
  background-color: #5eaa2f;
  //border: solid $fancy-color;
  //border-width: 0 22px;
  margin-right: -100%;
}


.benefits-row__title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
}

.benefits__point {
  border-bottom: 1px solid lightgray;
}

.benefits__table {
  width: 100%;
  margin-bottom: 14px;
  border-collapse: collapse;
}

.benefits-row__description {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.benefits-row__price {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 140px;
  text-align: right;
}

.benefits-call__items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  min-height: 305px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.benefits-call__items--image {
  position: relative;
  background-color: $fancy-color;
}

.benefits-call__items--image::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 113px;
  width: 55px;
  height: 60px;
  color: $fancy-color;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
}

.benefits-call__subtitle {
  margin-bottom: 58px;
  width: 163px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $fancy-color;
  font-family: "Arial", sans-serif;
}

.benefits-row__button {
  margin-bottom: 16px;
}

.benefits-row__button:hover,
.benefits-row__button:focus {
  background-color: #5eaa2f;
  cursor: pointer;
}

.benefits-row__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .benefits__title {
    position: relative;
    margin-top: 66px;
    margin-bottom: 91px;
    padding-right: 30px;
    padding-left: 67px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    //width: 100%;
    min-width: 768px;
  }

  .benefits__title::after {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    //box-sizing: border-box;
    width: 100%;
    top: 22px;
    right: 327px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-right: -100%;
  }

  .benefits__title::before {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    top: 22px;
    left: 28px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-left: -100%;
  }

  .benefits-row__title {
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    width: 300px;
  }

  .benefits__point {
    margin-left: 38px;
    max-width: 633px;
    border: none;
  }

  .benefits__clench {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .benefits__table {
    width: 100%;
    margin-bottom: 14px;
    border-collapse: collapse;
  }

  .benefits-row__description {
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  .benefits-row__price {
    padding: 0;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 90px;
    text-align: right;
  }

  .benefits-row__button {
    width: 100%;
    margin-top: 9px;
    margin-bottom: 39px;
  }

  .benefits-row__button:hover,
  .benefits-row__button:focus {
    background-color: #5eaa2f;
    cursor: pointer;
  }

  .benefits-row__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
    cursor: pointer;
  }

  .benefits-call__items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 98px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .benefits-call__items--image {
    position: relative;
    background-color: $fancy-color;
  }

  .benefits-call__items--image::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 91px;
    width: 55px;
    height: 60px;
    color: $fancy-color;
    background-image: url("../img/gift.png");
    background-repeat: no-repeat;
  }

  .benefits-call__subtitle {
    margin-bottom: 67px;
    margin-left: 300px;
    width: 163px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
  }
}

@media (min-width: $desktop-width) {
  .benefits__title {
    position: relative;
    margin-top: 17px;
    margin-bottom: 91px;
    padding-right: 30px;
    padding-left: 39px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    min-width: 1300px;
  }

  .benefits__title::after {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    //box-sizing: border-box;
    width: 100%;
    top: 22px;
    left: 413px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-right: -100%;
  }

  .benefits__title::before {
    display: none;
  }

  .benefits__point {
    margin-left: 0;
    display: flex;
    border-bottom: 1px solid lightgray;
  }

  .benefits__envelope {
    display: flex;
  }

  .benefits__point-wrapper {
    width: 100%;
  }

  .benefits-row__title {
    margin-right: 125px;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    width: 200px;
  }

  .benefits__clench {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .benefits__table {
    width: 244px;
    margin-bottom: 14px;
    border-collapse: collapse;
  }

  .benefits-row__description {
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .benefits-row__price {
    padding: 0;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 90px;
    text-align: right;
  }

  .benefits-row__button {
    //width: 100%;
    min-width: 245px;
    margin-top: 9px;
    margin-bottom: 22px;
  }

  .benefits-row__button:hover,
  .benefits-row__button:focus {
    background-color: #5eaa2f;
    cursor: pointer;
  }

  .benefits-row__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
    cursor: pointer;
  }

  .benefits-call__items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 245px;
    margin-top: 15px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
