.benefits__title {
  margin-top: 55px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.benefits-list__item {
  @include reset;
}

.benefits-row__title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.benefits__table {
  margin-bottom: 15px;
}

.benefits-row__description {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.benefits-row__price {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.benefits-call__items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 55px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  min-height: 305px;
}

.benefits-call__items--image {
  position: relative;
  background-color: $fancy-color;
}

.benefits-call__items--image::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 110px;
  width: 55px;
  height: 60px;
  color: $fancy-color;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
}

.benefits-call__subtitle {
  margin-bottom: 50px;
  width: 159px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $fancy-color;
  font-family: "Arial", sans-serif;
}
