.container {
  margin: 0 auto; //для центрирования
  width: 100%; // можно посчитать избыточным, но я предпочитаю писать
  min-width: 320px; //ограничиваем минимальную ширину
  max-width: 1300px; // сразу ограничиваем максимальную ширину
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {  // $tablet-width = 768px;
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) { //$desktop-width = 1300px;
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

//доделать!!!
