.example {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 705px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    z-index: -3;
  }
}

.example__point {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.example__headline {
  margin-top: 1px;
  margin-bottom: 23px;
  padding-top: 17px;
  color: $link-color;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__wrapper {
  display: flex;
}

.example__description {
  width: 266px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Arial", sans-serif;
}

.example__stats {
  margin-top: 10px;
  padding-top: 14px;
  margin-right: 32px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  width: 124px;
  min-height: 56px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #f2f2f2;
}

.example__stats:last-child {
  margin-right: 0;
}

.example__field {
  position: absolute;
  display: block;
  top: 45px;
  right: 18px;
  width: 86px;
  min-height: 22px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  text-transform: none;
}

.example__text {
  margin-bottom: 30px;
  margin-top: 11px;
}

.example__subtitle {
  margin-top: 11px;
  padding-bottom: 17px;
  padding-left: 47px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__filter {
  //временно для решения задачи
  margin-bottom: 10px;
}

.example__images {
  position: relative;
  height: 235px;
  padding: 0;
  margin-bottom: 35px;
}

/*это закоментировал чтобы попробовать сделать котов - так было изначально*/
/*
.example__fat::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -19px;
  z-index: 1;
  width: 311px;
  height: 232px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 318px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
  }
}

.example__thin::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 13px;
  z-index: 0;
  width: 251px;
  height: 240px;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 280px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
  }
}

 */

.example__item-before {
  content: "";
  position: absolute;
  top: 5px;
  left: -19px;
  z-index: 1;
  overflow: hidden;
  width: 320px;
  background-color: #f2f2f2;
}

.example__fat {
  max-width: 318px;
  height: 239px;
  background-size: 318px;
  background-color: #f2f2f2;
  //overflow: hidden;
}

.example__item-after {
  content: "";
  position: absolute;
  top: 5px;
  left: 27px;
  z-index: 0;
  width: 251px;
}

.example__thin {
  height: 240px;
  max-width: 100%;
  background-size: 280px;
}

.example__slider {
  position: relative;
  margin-top: 3px;
  width: 85px;
}

.example__slider::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  z-index: 1;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}

.example__slider input[type="range"] {
  margin: 0;
  width: 100%;
  height: 14px;
  border: none;
  padding: 1px 2px;
  border-radius: 24px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
  outline: none;

  /*-webkit-box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
  /* no focus outline */
}
/*.example__item:nth-child(1) {
  display: block;
}
n
 */

/*
.example__controls {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

 */

.example__controls {
  display: flex;
  justify-content: space-around;
  padding-bottom: 23px;
  width: 240px;
  margin: 0 auto;
  margin-top: 38px;
}

.example__was {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

/*
.example__was::before {
  content: "";
  position: absolute;
  display: block;
  top: 48px;
  right: 18px;
  width: 86px;
  background-image: url("../img/before-mobile@1x.png");
}

 */

.example__become {
  margin-right: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    border-top: 1px solid lightgrey;
    margin-top: 102px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1081px;
      //background-position: 50% 0;
      //background-repeat: no-repeat;
      background: linear-gradient(to top, #f2f2f2 42.5%, #ffffff 10%);
      z-index: -3;
    }
  }

  .example__point {
    display: flex;
    flex-direction: column;
    width: 708px;
    margin: 0 auto;
  }

  .example__headline {
    padding: 0;
    margin-top: 43px;
    margin-bottom: 63px;
    color: $link-color;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .example__wrapper {
    display: flex;
  }

  .example__description {
    margin-bottom: 43px;
    min-width: 680px;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Arial", sans-serif;
  }

  .example__stats {
    margin-top: 10px;
    padding-top: 21px;
    margin-right: 42px;
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 162px;
    height: 73px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    background-color: $fancy-color;
  }

  .example__stats:last-child {
    margin-right: 0;
  }

  .example__field {
    position: absolute;
    display: block;
    top: 64px;
    right: 14px;
    min-width: 132px;
    min-height: 22px;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 12px;
    border: none;
    background-color: $fancy-color;
    text-transform: none;
  }

  .example__text {
    display: flex;
    flex-direction: column;
  }

  .example__cover {
    display: flex;
  }

  .example__subtitle {
    text-align: right;
    margin-left: 120px;
    margin-top: 8px;
    padding-bottom: 2px;
    padding-left: 47px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
  }

  .example__price {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: end;
    text-transform: uppercase;
  }

  .example__filter {
    //временно для решения задачи
    margin-bottom: 10px;
  }

  .example__list {
    padding: 0;
    margin-bottom: 35px;
  }

  .example__images {
    position: relative;
    height: 500px;
    padding: 0;
    margin-bottom: 35px;
  }
  /*
  .example__item--before {
    height: 500px;
    overflow: hidden;
    background: linear-gradient(to top, #f2f2f2 42%, #ffffff 10%);
    z-index: -3;
  }
 */
  /*
  .example__fat { //костыли((((
    width: 353px;
    height: 220px;
    background-color: $fancy-color;
  }

  /*
  .example__fat::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 16px;
    z-index: 2;
    width: 337px;
    height: 499px;
    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 689px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .example__thin::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 18px;
    z-index: -1;
    width: 545px;
    height: 517px;
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 685px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
    }
  }

   */

  .example__item-before {
    content: "";
    position: absolute;
    top: 51px;
    left: 16px;
    z-index: 1;
    overflow: hidden;
    width: 338px;
    background: linear-gradient(to top, #f2f2f2 67.5%, #ffffff 10%);//костыли
    //background-color: $fancy-color;
  }

  .example__fat {
    max-width: 689px;
    height: 517px;
    background-size: 318px;
    background-color: transparent;
  }

  .example__item-after {
    content: "";
    position: absolute;
    top: 50px;
    left: 34px;
    z-index: 0;
    width: 251px;
  }

  .example__thin {
    max-width: 658px;
    height: 517px;
    background-size: 280px;

  }

  .example__controls {
    display: flex;
    justify-content: space-around;
    margin-top: 83px;
    padding-bottom: 48px;
  }

  .example__was {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  /*
  .example__was::before {
    content: "";
    position: absolute;
    display: block;
    top: 48px;
    right: 18px;
    width: 86px;
    background-image: url("../img/before-mobile@1x.png");
  }

   */

  .example__become {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .example__slider {
    position: relative;
    margin-top: 3px;
    width: 85px;
  }

  .example__slider::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
  }

  .example__slider input[type="range"] {
    margin: 0;
    width: 100%;
    height: 14px;
    border: none;
    padding: 1px 2px;
    border-radius: 24px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
    //-webkit-box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
    outline: none; /* no focus outline */
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;
    margin: 0;
    border: none;

    &::before {
      display: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 650px;
      //background-position: 50% 0;
      //background-repeat: no-repeat;
      background: linear-gradient(to top, #f2f2f2 72.5%, #ffffff 10%);
      z-index: -3;
    }
  }

  .example__point {
    display: flex;
    flex-direction: row;
    width: 1220px;
  }

  .example__headline {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 146px;
    color: $link-color;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .example__wrapper {
    display: flex;
  }

  .example__description {
    margin-bottom: 43px;
    min-width: 435px;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Arial", sans-serif;
  }

  .example__stats {
    margin-top: 26px;
    padding-right: 5px;
    padding-top: 23px;
    margin-right: 39px;
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 164px;
    height: 74px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    background-color: #f2f2f2;
  }

  .example__stats:last-child {
    margin-right: 0;
  }

  .example__field {
    position: absolute;
    display: block;
    top: 63px;
    right: 17px;
    min-width: 132px;
    min-height: 22px;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 12px;
    border: 2px solid #f2f2f2;
    background: #f2f2f2;
    text-transform: none;
  }

  .example__cover {
    display: flex;
    flex-direction: column;
  }

  .example__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 55px;
  }

  .example__subtitle {
    text-align: right;
    margin-left: 0;
    margin-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
  }

  .example__price {
    margin-top: 15px;
    margin-left: 64px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
  }

  .example__filter {
    //временно для решения задачи
    margin-bottom: 10px;
  }

  .example__list {
    padding: 0;
    margin-bottom: 35px;
  }

  .example__images {
    position: relative;
    height: 500px;
    padding: 0;
    margin-bottom: 35px;
  }
  /*
    .example__item--before {
      height: 500px;
      overflow: hidden;
      background: linear-gradient(to top, #f2f2f2 42%, #ffffff 10%);
      z-index: -3;
    }

   */

  .example__item-before {
    content: "";
    position: absolute;
    top: -14px;
    left: 133px;
    z-index: 1;
    overflow: hidden;
    width: 366px;
    background-color: $fancy-color;
  }

  .example__fat {
    max-width: 689px;
    height: 517px;
    background-size: 318px;
    background-color: transparent;
  }

  .example__item-after {
    content: "";
    position: absolute;
    top: -14px;
    left: 154px;
    z-index: 0;
    width: 251px;
  }

  .example__thin {
    max-width: 658px;
    height: 517px;
    background-size: 280px;
  }

  /*.example__item:nth-child(1) {
    display: block;
  }
  n
   */

  /*
  .example__controls {
    width: 84px;
    height: 14px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
  }

   */

  .example__controls {
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
    margin-top: 10px;
  }

  .example__was {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  /*
  .example__was::before {
    content: "";
    position: absolute;
    display: block;
    top: 48px;
    right: 18px;
    width: 86px;
    background-image: url("../img/before-mobile@1x.png");
  }

   */

  .example__become {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .example__slider {
    position: relative;
    margin-top: 3px;
    width: 85px;
  }

  .example__slider::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
  }

  .example__slider input[type="range"] {
    margin: 0;
    width: 100%;
    height: 14px;
    border: none;
    padding: 1px 2px;
    border-radius: 24px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
    //-webkit-box-shadow: inset 0 1px 0 0 lightgrey, inset 0 -1px 0 0 lightgrey;
    outline: none; /* no focus outline */
  }
}
