.form-list__item {
  padding: 0;
  margin-top: 23px;
}

.form-list__point {
  @include reset;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-list__label {
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-list__label--name {
  width: 64px;
}

.form-list__label--fit {
  width: 105px;
}

.form-list__label--age {
  width: 181px;
}

.form-list__input {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 44px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
  cursor: pointer;
  box-sizing: border-box;

  &:focus,
  &:hover,
  &:active {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 14px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $link-color;
  }
}

@media (min-width: $tablet-width) {
  .form-list__wrapper {
    margin-top: 54px;
    margin-left: 41px;
  }

  .form-list__item {
    padding: 0;
    margin-top: 23px;
  }

  .form-list__point {
    @include reset;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form-list__label {
    padding-bottom: 42px;
    display: block;
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .form-list__label--name {
    padding-right: 18px;
    width: 64px;
  }

  .form-list__label--fit {
    width: 111px;
  }

  .form-list__label--age {
    width: 170px;
  }

  .form-list__input {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 17px;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    min-height: 49px;
    border: 1px solid #cdcdcd;
    opacity: 0.5;
  }

  .form-list__input:focus,
  .form-list__input:hover,
  .form-list__input:active {
    padding-top: 3px;
    padding-bottom: 9px;
    padding-left: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $link-color;
  }

  .form-list__input:not(:placeholder-shown):invalid {
    //font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ff8282;
  }
}

@media (min-width: $desktop-width) {
  .form-list__twice {
    display: flex;
    width: 100%;
    height: 290px;
  }

  .form-list__wrapper {
    margin-top: 32px;
    margin-left: 4px;
    width: 100%;
  }

  .form-list__item {
    padding: 0;
    margin-top: 23px;
  }

  .form-list__point {
    @include reset;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 570px;
  }

  .form-list__label {
    padding-bottom: 40px;
    display: block;
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .form-list__label--name {
    padding-right: 18px;
    width: 64px;
  }

  .form-list__label--fit {
    width: 111px;
  }

  .form-list__label--age {
    width: 172px;
  }

  .form-list__input {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 17px;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    height: 52px;
    border: 1px solid #cdcdcd;
    opacity: 0.5;
  }

  .form-list__input:focus,
  .form-list__input:hover,
  .form-list__input:active {
    padding-top: 1px;
    padding-bottom: 9px;
    padding-left: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $link-color;
  }
}
