.form-list__item {
  padding: 0;
  margin-top: 23px;
}

.form-list__point {
  @include reset;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-list__label {
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-list__label--name {
  width: 64px;
}

.form-list__label--fit {
  width: 105px;
}

.form-list__label--age {
  width: 181px;
}

.form-list__input {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 44px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
}
