.form-page__container {
  width: 320px;
  margin: 0 auto;
}

.form-page__title {
  margin-top: 18px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.form-page__subtitle {
  margin-bottom: 17px;
  width: 226px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-page__wrapper {
  display: flex;
}
