.form-comments__text {
  position: relative;
  margin-top: 12px;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.form-comments__text::after {
  position: absolute;
  content: "";
  //display: inline-block;
  box-sizing: border-box;
  width: 100%;
  top: 14px;
  right: 138px;
  height: 3px;
  background-color: #5eaa2f;
  //border: solid $fancy-color;
  //border-width: 0 22px;
  margin-right: -100%;
}

.form-comments__textarea {
  padding-top: 14px;
  padding-right: 12px;
  padding-left: 14px;
  margin-bottom: 27px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;

  &:focus,
  &:hover,
  &:active {
    padding-top: 13px;
    padding-right: 11px;
    padding-left: 13px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $link-color;
  }
}

@media (min-width: $tablet-width) {
  .form-comments__text {
    position: relative;
    padding-left: 39px;
    margin-top: 47px;
    margin-bottom: 76px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }

  .form-comments__text::after {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    //box-sizing: border-box;
    width: 100%;
    top: 22px;
    left: 259px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-right: -100%;
  }

  .form-comments__text::before {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    top: 22px;
    left: 0;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-left: -100%;
  }

  .form-comments__textarea {
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 18px;
    margin-bottom: 63px;
    margin-left: 40px;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    width: 631px;
    min-height: 174px;
    border: 1px solid #cdcdcd;
    opacity: 0.5;
  }

  .form-comments__textarea:focus,
  .form-comments__textarea:hover,
  .form-comments__textarea:active {
    padding-top: 9px;
    padding-right: 11px;
    padding-left: 17px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $link-color;
  }

  .form-comments__textarea:not(:placeholder-shown):invalid {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ff8282;
  }
}

@media (min-width: $desktop-width) {
  .form-comments__text {
    position: relative;
    padding-left: 0;
    margin-top: 47px;
    margin-bottom: 76px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }

  .form-comments__text::after {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    //box-sizing: border-box;
    width: 100%;
    top: 23px;
    left: 220px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-right: -100%;
  }

  .form-comments__text::before {
    position: absolute;
    content: "";
    //display: inline-block;
    // vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    top: 23px;
    left: -40px;
    height: 3px;
    background-color: #5eaa2f;
    //border: solid $fancy-color;
    //border-width: 0 22px;
    margin-left: -100%;
  }

  .form-comments__textarea {
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 18px;
    margin-bottom: 66px;
    margin-left: 0;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    min-height: 174px;
    border: 1px solid #cdcdcd;
    opacity: 0.5;
  }
}
