.form-contacts__list {
  margin: 0;
  border: none;
  padding: 0;
}

.form-contacts__data {
  position: relative;
  min-height: 49px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 33px;
}

.form-contacts__data::after {
  position: absolute;
  content: "";
  //display: inline-block;
  box-sizing: border-box;
  width: 100%;
  top: 14px;
  right: 79px;
  height: 3px;
  background-color: #5eaa2f;
  //border: solid $fancy-color;
  //border-width: 0 22px;
  margin-right: -100%;
}

.form-contacts__wrapper {
  @include reset;
}

.form-contacts__point {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-contacts__point--email {
  position: relative;
}

.form-contacts__svg1 {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 31px;
  width: 17px;
  height: 13px;
}

.form-contacts__point--tel {
  position: relative;
}

.form-contacts__svg2 {
  content: "";
  position: absolute;
  right: 13px;
  bottom: 28px;
  width: 20px;
  height: 20px;
}

.form-contacts__label {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-contacts__input {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
}

.form-contacts__label--email {
  margin-right: 11px;
  width: 65px;
}

.form-contacts__label--tel {
  margin-right: 10px;
}
