.main-nav__wrapper {
  background-color: $fancy-color;
  outline: 2px dotted dodgerblue;
}

.site-list__item {
  color: $link-color;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  @include reset;
}
