.main-nav {
  min-height: 262px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    /* Временно для сетки */
    min-height: 60px;
  }
}

/*
.main-nav__logo {
  height: 38px;
  background-image: url("../img/logo-mobile.svg");
}

 */


.site-list__item {
  @include reset;
  margin-bottom: 20px;
  color: $link-color;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.site-list__item:hover,
.site-list__item:focus {
  opacity: 0.7;
}

.site-list__item:active {
  opacity: 0.4;
}
