.map {
  min-height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

.map__contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 320px;
  min-height: 114px;
  background-color: $fancy-color;
}

.map__slogan {
  margin-right: 19px;
  width: 123px;
  min-height: 57px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.map__adress {
  width: 135px;
  min-height: 53px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/*
.map__container {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  min-height: 400px;
  width: 1345px;
}

 */
