.options {
  outline: 2px dotted darkred;
}

.options__slim {
  padding-top: 39px;
  min-height: 266px;
  margin-bottom: 20px;
}

.options__pro {
  padding-top: 39px;
  min-height: 266px;
  margin-bottom: 32px;
}

.options__title {
  position: relative;
  padding-left: 92px;
  color: $link-color;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.options__title::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 20px;
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
}

.options__feed {
  width: 50px;
  height: 51px;
  background-color: #68b738;
  //не понимаю почему картинка не работает
  background-image: url("..img/icon-cat-slim.svg");
  border-radius: 50%;
}

.options__mass {
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
}

.options__descriptions {
  width: 223px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Arial", sans-serif;//текст не работает
}

.options__slim--slim {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog-slim::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 100px;
  width: 25px;
  height: 20px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.options__pro--pro {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog-pro::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 100px;
  width: 25px;
  height: 20px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
