.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__logo-image {
  margin-top: 13px;
  margin-left: 76px;
  padding-top: 24px;
  margin-bottom: 30px;
  width: 128px;
  height: 48px;
  object-fit: contain;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .page-footer__logo-image {
    margin-top: 33px;
    margin-left: 0;
    padding-top: 24px;
    margin-bottom: 30px;
    width: 224px;
    height: 48px;
    object-fit: contain;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
  }

  .page-footer__logo-image {
    margin-top: 38px;
    margin-left: 0;
    padding-top: 24px;
    margin-bottom: 30px;
    width: 128px;
    height: 48px;
    object-fit: contain;
  }
}
