.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  box-sizing: border-box;
}

.page-footer__logo-image {
  margin-left: 75px;
  padding-top: 30px;
  margin-bottom: 30px;
  width: 128px;
  height: auto;
  object-fit: contain;
}

.page-footer__logo {
  display: block;
}

/*
.page-footer__copyright {
  margin-top:
}

 */
