.send-message__legend {
  padding-left: 63px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.send-message__small {
  margin-bottom: 12px;
}

.send-message__button:hover,
.send-message__button:focus {
  background-color: #5eaa2f;
  cursor: pointer;
}

.send-message__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
  cursor: pointer;
}
