.site-list__item {
  @include reset;
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 20px;
  color: $link-color;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -19px;
  width: 320px;
  height: 80px;
  border-top: 1px solid lightgrey;
  z-index: -2;
}

.site-list__item:last-child::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -19px;
  width: 320px;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  z-index: -2;
}

.site-list__item--link {
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;
    padding-bottom: 10px;
    width: 440px;
    /* Временно для сетки */
    min-height: 70px;
  }

  .site-list__item {
    padding-bottom: 0;
    font-size: 18px;
    color: $link-color;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
    border-top: none;
  }

  .site-list__item::before {
    display: none;
  }

  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__item:hover,
  .site-list__item:focus {
    opacity: 0.6;
  }

  .site-list__item:active {
    opacity: 0.3;
  }

  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 46px;
    width: 525px;
    margin-top: 46px;
    min-height: 70px;
  }

  .site-list__item {
    color: $fancy-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }

  .site-list__item::before {
    display: none;
  }

  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__item:hover,
  .site-list__item:focus {
    opacity: 0.6;
  }

  .site-list__item:active {
    opacity: 0.3;
  }

  .site-list__item--white {
    border-bottom: 2px solid $fancy-color;
  }

  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }

  .site-list__item--link {
    color: $fancy-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }
}
